$bg_main: #f8f8f8;
$bg_alt: #ffffff;
$bg_divider: #eaeaea;
$gradient: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);

$text_main: #1b1c21;
$text_alt: #7e7e82;
$text_white: #ffffff;

$accent_main: #ff3e79;
$accent_alt: #41f6d7;
$accent_border: #d9fff5;
