.section {
  margin-bottom: 24px; // 32 50

  &__title {
    min-height: 56px;
    padding: 16px;
    background: $gradient;
    border-top: 1px solid $accent_border;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text_alt;
    text-transform: uppercase;
  }
}
