.header {
  display: flex;
  width: 100%;
  height: 88px;
  background-color: $bg_alt;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid $accent_border;

  &__logo {
    height: 50.814815521240234px;
    width: 96.54814910888672px;
    margin-left: 16.73px;
  }

  &__repair {
    margin-left: auto;
  }
}
