.app_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.main_wrapper {
    display: flex;
}

.header {
    background-color: aqua;
}

.nav {
    width: 150px;
    background-color: blueviolet;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a.active {
    color: gold;
}

.content {
    background-color: chocolate;
    width: 100%;
}

